<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430585833748-qrjms4s5d60ul0q29hvv6l0et964p54l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430585833748-qrjms4s5d60ul0q29hvv6l0et964p54l</string>
	<key>API_KEY</key>
	<string>AIzaSyBntCX6UwDlW_sXPeyQoZoHWVykR8Odbiw</string>
	<key>GCM_SENDER_ID</key>
	<string>430585833748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chilltech.fridgemanager</string>
	<key>PROJECT_ID</key>
	<string>fridge-manager-54fdf</string>
	<key>STORAGE_BUCKET</key>
	<string>fridge-manager-54fdf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430585833748:ios:99a3f2236276366c987a01</string>
</dict>
</plist>